.container
{
    text-align: center;
    width: 100%;
    height: 40vh;
    background: #000;

    span
    {
        text-transform: uppercase;
        display: block;
    }
    .text1
    {
        color: white;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 8px;
        margin-bottom: 20px;
        background: black;
        position: relative;
        animation: text 2.5s 1;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .text2
    {
        font-size: 36px;
        color: #6ab04c;
        position: relative;
        top: 37%;
        transform: translateY(-50%);
    }
}

@keyframes text
{
    0%
    {
        color: black;
        margin-bottom: -10px;
    }
    30%
    {
        letter-spacing: 25px;
        margin-bottom: -10px;
    }
    85%
    {
        letter-spacing: 8px;
        margin-bottom: -10px;
    }
    100%
    {
        letter-spacing: 8px;
        margin-bottom: 30px;
    }
}